button{
    padding: 30px 40px;
    font-size: 36px;
    cursor: pointer;
    margin-right: 10px;
}



body{
    background-color: #15151e;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    
}

img{
    height: auto;
    width: 300%;
    display: inline-block;
    margin: 5px;
    vertical-align: top;

}

p{
    text-align: right;
    font-size: 20px;


}
